.category-container{
    position: absolute;
    display: flex;
    height: auto;
    height: auto;
    top: 20%;
    left: 21%;
}

.category-box {
    margin-left: 30px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.category-box img {
    height: 120px;
    width: 120px;
}

.category-box p {
    font-size: 18px;
    text-align: center;
}