.messagesDiv{
    position: absolute;

    height: auto;
    width: 700px;
    left: 30%;
    top: 30%;
}

.messages{
    position: relative;
    height: auto;
    width: 700px;
    background-color: white;
    margin-top: 40px;
}

.title{
    position: relative;
    font-size: 25px;
    left: 5%;
}

.textMessage {
    position: relative;
    left: 10%;
    font-size: 20px;

}

.answerBtn{
    position: relative;
    left: 29%;
    bottom: 0px;
    height: 30px;
    width: 300px;
    color: white;
    border: none;
    background-color: #002f34;
}

.answerMessageArea{
    background-color: 	#DCDCDC;
    height: 50px;
    width: 700px;
    border: none;
}