.messagesDiv{
    position: absolute;

    height: auto;
    width: 700px;
    left: 30%;
    top: 40%;
}

.messages{
    position: relative;
    height: auto;
    width: 705px;
    background-color: white;
    margin-top: 40px;
    border: 1px solid;
}

.title{
    position: relative;
    font-size: 25px;
    left: 5%;
}

.textMessage {
    position: relative;
    left: 10%;
    font-size: 20px;

}

.answerBtn{
    position: relative;
    left: 0%;
    margin-left: 10px;
    bottom: 0px;
    height: 30px;
    width: 300px;
    color: white;
    border: none;
    background-color: #002f34;
}

.answerMessageArea{
    background-color: 	#DCDCDC;
    height: 50px;
    width: 700px;
    border: none;
}

.messageSpan{
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 400%;
}


.messageHeader{

    position: relative;
    transform: translate(0%, 500%);

}