@import url('./registerForm.css');
@import url('./header.css');
@import url('./search.css');
@import url('./adding.css');
@import url('./category-container.css');
@import url('./contentView.css');
@import url('./adDetails.css');
@import url('../css/messageView.css');

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #002f34;
    width: 100%;
    height: 80px;
    margin-top: 120%;
    color: white;
}

footer p{
    width: 50px;
    top:30%;
    position: relative;
    font-size: 19px;
    left: 50%;
}









